
:root {
    --text-color: #333;
    --bg-color: #eee;
}
:root.dark {
    --text-color: #eee;
    --bg-color: #333;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
 
#btn{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px -4px var(--text-color);

}




body{
    background-color: var(--bg-color);
    font-family: sans-serif;
}

h1{
    font-size: 50px;
    color: var(--text-color);
}

p{
    font-size: 20px;
    color: var(--text-color);
}